@use 'colors-size';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: colors-size.$c_secondary;
}

.kontejner {
    font-family: 'Noto Serif', serif;
    margin-bottom: 120px;
}


//HEADER//

.header {
    padding: 40px;
    background-image: url(../images/dohromady.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__link {
        text-decoration: none;
    }

    &__title {
        color: colors-size.$c_secondary;
        font-size: colors-size.$h1_fs;
        text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
        margin: 0 auto;
        max-width: 1500px;
    }

    &__subtitle {
        font-style: italic;
        font-weight: normal;
        color: colors-size.$c_secondary;
        text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
        margin: 40px auto;
        max-width: 1500px;
        padding-left: 40px;
    }

    @media screen and (min-width: 700px) {
      background-image: url(../images/dohromady.jpg);
      padding: 50px 40px;

        &__subtitle {
            padding-left: 60px;
        }
    }
}
//MENU//

.menu {
    @media screen and (min-width: 1500px) {
        background-color: colors-size.$c_primary;
    }
}

.menu__list {
    list-style: none;
    margin: 0;
	  padding: 0;
}

.menu__item {
	  padding: 0;
    background-color: colors-size.$c_primary;
    border-radius: 5px;
    margin: 10px 20px;
}

.menu__link {
    text-decoration: none;
    padding: 15px 0;
    color: colors-size.$c_secondary;
    font-weight: bold;
    font-size: colors-size.$p_fs;
    display: block;
    text-align: center;
    width: 100%;

    &:active {
        font-size: colors-size.$p_fs + 3px;
        padding: 13px 0;
        text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
        text-align: center;
        }
}

.invisible2 {
    display: none;
}

@media screen and (min-width:700px) {
    .invisible2 {
        display: block;
    }

    .invisible{
        display: none;
    }

    .menu__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 0 100%;
        max-height: 150px;

        @media screen and (min-width: 1500px) {
         justify-content: center;
        }
    }

    .menu__item{
        width: calc((100% - 6px) / 6);
        max-width: calc((1500px - 6px) / 6);
        margin: 0;
        border-radius: 0;
        padding: 40px 0;

        &--active {
          padding: 20px;
        }

        &--active a::after,
        &--active a::before {
            content: "";
            display: block;
            background-color: colors-size.$c_secondary;
            width: 50px;
            height: 2px;
            margin: 10px auto;
        }
    }

    .menu__item {
        @media screen and (min-width: 1500px) {
            border-left: 1px solid colors-size.$c_secondary;
        }
    }

    .menu__item:last-child {
      @media screen and (min-width: 1500px) {
          border-right: 1px solid colors-size.$c_secondary;
      }
  }

    .menu__link {
        align-items: center;

        &:hover {
            text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
        }  

        &:active {
            padding: 11px 0;
        }  
    }
}
//MAIN//

.box {
    display: none;
}

.main {
    padding: 40px;
/* 
    @media screen and (min-width: 1500px) {
      padding: 0;
    } */
}

.introduction {
    color: colors-size.$c_text;
    max-width: 1500px;

    &__list {
    list-style-type: circle;
    line-height: 2;
    padding-left: 20px;
    }
}

.main__title {
    display: block;
}

.main__title::after {
    content: "";
    display: block;
    background-color: colors-size.$c_primary;
    width: 100px;
    height: 4px;
    margin: 30px;
}

@media screen and (min-width: 700px) {

    .box {
        display: block;
        color: colors-size.$c_text;
    }

    .main__flex {
        display: flex;
        flex-wrap: wrap;
    }

    .main {
        max-width: 1500px;
        padding: 0 auto;
        margin: 50px auto;
    }

    .box__list {
        list-style-type: circle;
        line-height: 2;
        padding-left: 20px;
    }

    .box__primary {
        width: 40%;
    }

    .box__secondary {
        margin-left: 50px;
        width: calc(60% - 50px);
    }

}

//BUTTON//

.button__back {
    color: colors-size.$c_secondary;
    background-color: colors-size.$c_primary;
    text-decoration: none;
    list-style: none;
    font-size:  colors-size.$p_fs;
    margin: 20px 10px;
    padding: 10px 50px;
    position: fixed;
    bottom: 80px;

    &:active {
        font-size: colors-size.$p_fs + 4px;
        padding: 7px 44px;
        text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
        text-align: center;
        }

    @media screen and (min-width: 700px) {
        &:hover {
            text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
        }  
    }

}

//FOOTER//

.footer__copyright {
    position: fixed;
    bottom: 0;
    height:60px;
    left: 0;
    width: 100%;
    background-color: colors-size.$c_text;
    color: colors-size.$c_secondary;
    text-align: center;
    padding: 30px 0;
    font-size: colors-size.$p_fs;
}